<mat-card class="m-1">
    <mat-card-header *ngIf="title">
        <mat-card-title>
            <div class="title">
                <span class="title__icon title__icon--back" *ngIf="!isHiddenBtnBack">
                    <button mat-icon-button (click)="onBack()">
                        <mat-icon aria-label="Go back">arrow_back</mat-icon>
                    </button>
                </span>
                <span [ngClass]="{'title__text--no-icon': isHiddenBtnBack, 'title__text': !isHiddenBtnBack}">{{ title }}</span>
            </div>

            <div class="title__icon--add" *ngIf="!isHiddenBtnAdd">
                <button mat-icon-button class="mr-2" (click)="onAdd()">
                    <mat-icon aria-label="Add">playlist_add</mat-icon>
                </button>
            </div>
            <mat-divider></mat-divider>
        </mat-card-title>
    </mat-card-header>

    <mat-card-content class="pos-relative">
        <ng-content></ng-content>
    </mat-card-content>

    <mat-card-footer *ngIf="!isHiddenFooter && (!isHiddenBtnCancel || !isHiddenBtnSave)">
        <sce-basic-form-action
                [isHiddenBtnCancel]="isHiddenBtnCancel"
                [isHiddenBtnSave]="isHiddenBtnSave"
                (cancel)="onCancel()"
                (save)="onSave()">
        </sce-basic-form-action>
    </mat-card-footer>
</mat-card>
