<ng-container>
  <mat-toolbar class="sc-header">
    <button mat-button mat-stroked-button (click)="sidenav.toggle()" class="sc-btn-close-open-sidenav">
      <mat-icon *ngIf="isSidenavOpened">close</mat-icon>
      <mat-icon *ngIf="!isSidenavOpened">menu</mat-icon>
    </button>
    Angular Application
  </mat-toolbar>

  <mat-sidenav-container class="sc-container" [hasBackdrop]="false">
    <mat-sidenav #sidenav mode="side"
                 [opened]="!isSmallScreen" class="sc-sidenav"
                 (openedStart)="isSidenavOpened = true"
                 (closedStart)="isSidenavOpened = false"
                 [fixedTopGap]="64"
                 [fixedBottomGap]="32"
                 [fixedInViewport]="false">
      <sc-sidenav-left-menu></sc-sidenav-left-menu>
    </mat-sidenav>

    <mat-sidenav-content>

      <!-- shared: breadcrumbs -->
      <div class="row mr-0 mt-1">
        <div class="col">
          <a mat-button routerLink=".">Path 1</a>/
          <a mat-button routerLink=".">Path 2</a>/
          <a mat-button routerLink=".">Path 3</a>
        </div>
      </div>

      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>

  <mat-toolbar class="sc-footer">Footer</mat-toolbar>
</ng-container>
