.sce-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: solid 1px rgba(0, 0, 0, 0.12);
}

.sce-sidenav {
  min-width: 15rem;
  background: whitesmoke;
}

.sce-container {
  position: absolute;
  top: 64px;
  bottom: 32px;
  left: 0;
  right: 0;
}

// override footer !
@media (max-width: 599px) {
  .sce-container {
    top: 56px;
    bottom: 0;
  }
}

.sce-footer {
  height: 32px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: solid 1px rgba(0, 0, 0, 0.12);
}

.sce-btn-close-open-sidenav {
  min-width: 0;
  padding: 0 8px;
  margin-right: 1rem;
}
