@import 'default/style-default';

$input-icon-mt: 10px;
$input-icon-mr: 4px;
$input-icon-mb: 10px;
$input-icon-ml: 10px;

$input-container-mt: 8px;
$input-container-mb: 24px;

$input-font-size: 18px;
$input-font-size-label: 18px;
// $input-font-size-error: 18px;

@mixin input-text {
  input[type=text],
  input[type=password],
  input[type=email],
  input[type=tel],
  input[type=url] {
    margin: 0;
    padding: 12px 0 0 4px;
    color: $color-text-input;
    width: 100%;
    font-size: $input-font-size;
    border: none;

    &:hover, &:active, &:focus {
      border: none;
      outline: none;
      -webkit-box-shadow: none;
    }
  }
}

// @todo: go to _mixing
@mixin component-validation-messages {
  sc-validation-messages {
    flex: 1 100%;
    position: relative;
    display: block;
  }
}

@mixin input-colored($color) {
  border: 1px solid $color;

  ::ng-deep {
    .prefix {
      color: $color;
    }

    .suffix {
      color: $color;
    }
  }

  label {
    color: $color;
  }
}

.sc-fg-container {
  padding-top: $input-container-mt;
  padding-bottom: $input-container-mb;

  .sc-fg-input {
    display: flex;
    border: 1px solid $color-form;
    border-radius: $radius;
    padding: 5px 2px;

    .sc-fg-input-parts {
      position: relative;
      display: flex;
      width: 100%;
    }

    ::ng-deep {
      .prefix {
        padding: $input-icon-mt $input-icon-mr $input-icon-ml $input-icon-mb;
        font-size: $input-font-size;
      }

      @include input-text;

      .suffix {
        padding: $input-icon-mt;
        font-size: $input-font-size;
      }
    }

    label {
      font-size: $input-font-size-label;
    }


    @include input-colored($color-form);

    &.up {
      @include input-colored($color-form);
    }

    &:hover {
      @include input-colored($color-form-darken);
    }

    &.focused {
      @include input-colored($color-form-darken !important);
    }
  }

  @include component-validation-messages;
}
