<div class="sc-fg-container">
    <div class="sc-fg-input"
         [ngClass]="{'up': isLabelMoveUp, 'focused': field.isFocus}"
         (click)="markAsFocus()">
        <ng-content select="span.prefix"></ng-content>
        <div class="sc-fg-input-parts">
            <ng-content select="input"></ng-content>
            <ng-content select="span.suffix"></ng-content>
            <label [@labelUpDown]="isLabelMoveUp ? 'up' : 'down'">{{ placeholder }}</label>
        </div>
    </div>

    <sc-validation-messages
            *ngIf="!field.input.valid"
            [isOnlyLastErrorMessage]="isOnlyLastErrorMessage"
            [errors]="field.errors"></sc-validation-messages>
</div>
