@import 'default/style-default';

:host {
  .modal-layer {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 990;

    .overlay {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 995;
      background: rgba(0,0,0,0.5);
    }

    .modal-box {
      z-index: 999;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      overflow: auto;
      box-shadow: 0 1px 5px rgba(0,0,0,0.3);
      text-align: left;
      border-radius: $radius;
      max-height: 50vh;
      width: 95vw;

      @include sm() {
        width: 75vw;
      }

      @include md() {
        width: 50vw;
      }

      &.small {
        max-width: 350px;
      }

      &.medium {
        max-width: 540px;
      }

      &.large {
        max-width: 720px;
      }

      &.extra-large {
        max-width: 960px;
      }

      &.max {
        width: 100vw;
        height: 100vh;
      }
    }
  }
}
