/* TEXT */

$text-primary: #37474f;
$text-secondary: #78909c;

$text-success: #4caf50;
$text-danger: #ff5252;
$text-warning: #fb8c00;
$text-info: #00d3ee;

$text-dark: #212121;
$text-muted: #bdbdbd;
$text-white: #fafafa;

/* BACKGROUND */

$bg-primary: #607d8b;
$bg-secondary: #7986cb;

$bg-success: #4caf50;
$bg-danger: #ff5252;
$bg-warning: #fb8c00;
$bg-info: #00d3ee;

$bg-dark: #212121;
$bg-light: #bdbdbd;
$bg-white: #fafafa;

/* BORDER */

$border-primary: #f5f5f5;
