$color-primary: #37474f;
$color-secondary: #78909c;

$color-success: #4caf50;
$color-danger: #ff5252;
$color-warning: #fb8c00;
$color-info: #00d3ee;

$color-dark: #212121;
$color-light: #555555;
$color-muted: #bdbdbd;
$color-white: #fafafa;


// ----------------------------
// access colors

// TEXT

$color-text-primary: $color-primary;
$color-text-secondary: $color-secondary;

$color-text-success: $color-success;
$color-text-danger: $color-danger;
$color-text-warning: $color-warning;
$color-text-info: $color-info;

$color-text-dark: $color-dark;
$color-text-muted: $color-light;
$color-text-white: $color-white;

// BACKGROUND

$color-bg-primary: $color-primary;
$color-bg-secondary: $color-secondary;

$color-bg-success: $color-success;
$color-bg-danger: $color-danger;
$color-bg-warning: $color-warning;
$color-bg-info: $color-info;

$color-bg-dark: $color-dark;
$color-bg-light: $color-light;
$color-bg-white: $color-white;

// BORDER

$color-border-primary: $color-primary;
