<!--The content below is only a placeholder and can be replaced.-->

<div class="m-4">
  <div class="row">
    <div class="col-3 menu">
      <ul>
        <li><b>FORM</b></li>
        <li><a [routerLink]="['form', 'input-text']" class="menu-item">Input text</a></li>
        <li><a [routerLink]="['form', 'select']" class="menu-item">Select</a></li>
        <li>&nbsp;</li>
        <li><b>UI</b></li>
        <li><a [routerLink]="['ui', 'modals']" class="menu-item">Modals</a></li>
      </ul>
    </div>
    <div class="col-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
