// https://material.io/tools/color/#!/?view.left=0&view.right=1&primary.color=757575
// https://thoughtbot.com/blog/controlling-color-with-sass-color-functions


$color-primary: #37474f;
$color-secondary: #78909c;

$color-success: #4caf50;
$color-danger: #ff5252;
$color-warning: #fb8c00;
$color-info: #00d3ee;

$color-black: #000000;
$color-muted: #b7b7b7;
$color-light: #f5f5f5;
$color-white: #ffffff;

// ----------------------------
// access colors

// TEXT

$color-text-primary: $color-primary;
$color-text-secondary: $color-secondary;

$color-text-success: $color-success;
$color-text-danger: $color-danger;
$color-text-warning: $color-warning;
$color-text-info: $color-info;

$color-text-black: $color-black;
$color-text-muted: $color-muted;
$color-text-light: $color-light;
$color-text-white: $color-white;

// BACKGROUND

$color-bg-primary: $color-primary;
$color-bg-secondary: $color-secondary;

$color-bg-success: $color-success;
$color-bg-danger: $color-danger;
$color-bg-warning: $color-warning;
$color-bg-info: $color-info;

$color-bg-black: $color-black;
$color-bg-muted: $color-muted;
$color-bg-light: $color-light;
$color-bg-white: $color-white;

// BORDER

$color-border-primary: $color-primary;
$color-border-secondary: $color-secondary;

$color-border-success: $color-success;
$color-border-danger: $color-danger;
$color-border-warning: $color-warning;
$color-border-info: $color-info;

$color-border-black: $color-black;
$color-border-muted: $color-muted;
$color-border-light: $color-light;
$color-border-white: $color-white;
