$radius: 10px;

$color-lighten-percent: 5%;
$color-darken-percent: 10%;

$px: 1rem;
$py: 1rem;
$pt: 1rem;
$pr: 1rem;
$pb: 1rem;
$pl: 1rem;

$mx: 1rem;
$my: 1rem;
$mt: 1rem;
$mr: 1rem;
$mb: 1rem;
$ml: 1rem;
