<mat-list>
  <mat-list-item matRipple
                 (click)="navigateTo(['/', 'persons'])"
                 [ngClass]="{'active' : isActive('persons')}">
    <mat-icon class="mr-1">face</mat-icon> Persons
    <mat-divider></mat-divider>
  </mat-list-item>

  <mat-list-item matRipple
                 (click)="navigateTo(['/', 'certifications'])"
                 [ngClass]="{'active' : isActive('certifications')}">
    <mat-icon class="mr-1">receipt</mat-icon> Certyfikaty <small>(ngrx)</small>
  </mat-list-item>

<!--  <mat-list-item matRipple-->
<!--                 (click)="navigateTo(['/', 'companies'])"-->
<!--                 [ngClass]="{'active' : isActive('companies')}">-->
<!--    <mat-icon class="mr-1">work</mat-icon> Companies-->
<!--    <mat-divider></mat-divider>-->
<!--  </mat-list-item>-->

<!--  <mat-list-item matRipple-->
<!--                 (click)="navigateTo(['/', 'settings'])"-->
<!--                 [ngClass]="{'active' : isActive('settings')}">-->
<!--    <mat-icon class="mr-1">settings</mat-icon> Settings-->
<!--  </mat-list-item>-->

  <mat-list-item>EXAMPLES</mat-list-item>

  <mat-list-item matRipple
                 (click)="navigateTo(['/', 'examples', 'lifecycle-hooks'])"
                 [ngClass]="{'active' : isActive('examples/lifecycle-hooks')}">
    <mat-icon class="mr-1">visibility</mat-icon> LifecycleHooks
  </mat-list-item>

  <mat-list-item matRipple
                 (click)="navigateTo(['/', 'examples', 'svg'])"
                 [ngClass]="{'active' : isActive('examples/svg')}">
    <mat-icon class="mr-1">wallpaper</mat-icon> Svg
  </mat-list-item>
</mat-list>
