// --------- Bootstrap selected parts ----------------------------------------------------------------------------------

// https://www.amadousall.com/the-good-parts-of-bootstrap-4-you-are-missing-in-your-angular-material-projects/
// https://medium.com/@tomastrajan/how-to-build-responsive-layouts-with-bootstrap-4-and-angular-6-cfbb108d797b

@import "_bootstrap-variables";
@import "../../../src/styles/vendors/bootstrap/bootstrap-reboot";
@import "../../../src/styles/vendors/bootstrap/bootstrap-grid";
@import "../../../src/styles/vendors/bootstrap/utilities";
@import "../../../src/styles/vendors/bootstrap/buttons";
@import "_bootstrap-reset";

// --------- Custom Material Theme -------------------------------------------------------------------------------------

@import "_custom-material-theme";
@import "_variables";

// --------- App global style ------------------------------------------------------------------------------------------

.material-icons.mid-18 { font-size: 18px; }
.material-icons.mid-24 { font-size: 24px; }
.material-icons.mid-36 { font-size: 36px; }
.material-icons.mid-48 { font-size: 48px; }

.pos-r {
  position: relative;
}
