<sc-main-container [title]="'Persons edit'"
                   (back)="goBack()" [isHiddenFooter]="true" [isHiddenBtnAdd]="true">

    <mat-tab-group>
        <mat-tab label="Dane podstawowe">
            <ng-template matTabContent>
                <sc-edit-person [person]="person" (save)="savePerson($event)"></sc-edit-person>
            </ng-template>
        </mat-tab>
        <mat-tab label="Adresy email" [disabled]="isAddMode">
            <ng-template matTabContent>
                <sc-emails-person [person]="person" (save)="savePerson($event)"></sc-emails-person>
            </ng-template>
        </mat-tab>
        <mat-tab label="Umiejętności" [disabled]="isAddMode">
            <ng-template matTabContent>
                <sc-skills-person [person]="person" (save)="savePerson($event)"></sc-skills-person>
            </ng-template>
        </mat-tab>
    </mat-tab-group>

</sc-main-container>
