<sc-modal [show]="show" (clickedOutsideWorkArea)="onClose()">
    <sc-modal-header (close)="onClose()">
        <span class="title">To jest header</span>
    </sc-modal-header>

    <sc-modal-content>
        extremely simple modal<br>
        extremely simple modal<br>
        extremely simple modal<br>
        extremely simple modal<br>
        extremely simple modal<br>
        extremely simple modal<br>
        extremely simple modal<br>
        extremely simple modal<br>
        extremely simple modal<br>
        extremely simple modal<br>
        extremely simple modal<br>
        extremely simple modal<br>
        extremely simple modal<br>
        extremely simple modal<br>
        extremely simple modal<br>
        extremely simple modal<br>
        extremely simple modal<br>
        extremely simple modal<br>
        extremely simple modal<br>
        extremely simple modal<br>
        extremely simple modal<br>
        extremely simple modal
    </sc-modal-content>

    <sc-modal-footer>
        <button (click)="onClose()">Zamknij</button>
    </sc-modal-footer>
</sc-modal>
