.carousel-container {
  .carousel-items {
    display: flex;
    flex-direction: row;
  }

  ::ng-deep {
    .sc-slide {
      flex-grow: 1;
       display: none;
    }

    .active {
      display: block;
    }
  }
}
