.carousel-container {
  .carousel-wrapper {
    overflow: hidden;
  }

  .carousel-field {
    width: 2500px;
    display: flex;
  }

  ::ng-deep {
    .sc-slide {
      float: left;
      height: 100%;
      display: none;
    }

    .active {
      display: block;
    }
  }
}
