<form [formGroup]="fg">
    <div class="ex-form">
        <sc-form-group>
            <input scField
                   formControlName="surname"
                   type="text"
                   placeholder="Nazwisko">
        </sc-form-group>

        <sc-form-group>
            <span class="prefix fas fa-address-book"></span>
            <input scField
                   formControlName="name"
                   type="text"
                   placeholder="Imie">
        </sc-form-group>

        <sc-form-group class="lg">
            <input scField
                   formControlName="country"
                   type="text"
                   placeholder="Kraj">
            <span class="suffix fas fa-search"></span>
        </sc-form-group>

        <sc-form-group>
            <span class="prefix fas fa-address-book"></span>
            <input scField
                   formControlName="city"
                   type="text"
                   placeholder="Miasto">
            <span class="suffix fas fa-search"></span>
        </sc-form-group>
    </div>
</form>
